.blue {
	background-color: blue;
	border: 1px solid red;
}

#red {
	background-color: red;
	border: 1px solid blue;
}

.box {
	margin: 10px;
}

h3 {
	padding: 20%;
}

#top {
	position: absolute;
	top: 350px;
	left: 350px;
}

#bottom {
	position: absolute;
	top: 400px;
	left: 500px;
}